* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------------------------------------*/
@font-face {
  font-family: "HKGrotesk";
  src: url("/fonts/HKGrotesk-Regular.otf");
}
body {
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

[class*=_conteiner] {
  max-width: 1754px;
  margin: 0 auto;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 130px;
}
.main p {
  font-size: 20px;
}

/*--------------------------------------------------------------------------------------------*/
.main_start_block_background {
  width: 100%;
  height: 984px;
  background: url(/img/main_back.png) no-repeat;
  background-size: cover;
}

.main_start_block_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main_start_block_conteiner .main_start_block_info {
  margin-top: 220px;
}
.main_start_block_conteiner .main_start_block_info h2 {
  max-width: 60%;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 94px;
  color: #ffffff;
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.main_start_block_conteiner .main_start_block_info h2.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_start_block_conteiner .main_start_block_info p {
  max-width: 45%;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 42px;
  color: #ffffff;
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.main_start_block_conteiner .main_start_block_info p.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.4s ease 0.15s;
  transition: all 0.4s ease 0.15s;
}
.main_start_block_conteiner .main_start_block_info a {
  display: inline-block;
  margin-top: 15px;
  padding: 30px 50px;
  background-color: #b58269;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.265em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: background-color 0.1s ease 0s;
  transition: background-color 0.1s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.main_start_block_conteiner .main_start_block_info a.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.main_start_block_conteiner .main_start_block_info a:hover {
  background-color: rgba(181, 130, 105, 0.7);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

/*--------------------------------------------------------------------------------------------*/
.main_collection_block_conteiner {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.main_collection_block_conteiner h2 {
  text-align: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 94px;
  color: #161616;
  -webkit-transform: translate(80%, 0px);
          transform: translate(80%, 0px);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.main_collection_block_conteiner h2.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_collection_block_conteiner p {
  text-align: center;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #161616;
  -webkit-transform: translate(-60%, 0px);
          transform: translate(-60%, 0px);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.main_collection_block_conteiner p.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.collection_first_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection_second_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection_item {
  position: relative;
}
.collection_item img {
  max-width: 100%;
}
.collection_item a {
  padding: 33px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.265em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #636a6a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.8));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0px 100%;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
}
.collection_item a:hover {
  background-size: 100% 100%;
  color: #000000;
}

/*--------------------------------------------------------------------------------------------*/
.main_accomplishments_block_conteiner {
  margin-top: 90px;
  width: 100%;
  height: 397px;
  background-color: #3a5041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accomplishments_item {
  padding-top: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.accomplishments_item img {
  max-width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.accomplishments_item img.scroll {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.accomplishments_item h3 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.265em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.accomplishments_item h3.scroll {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.accomplishments_item p {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.accomplishments_item p.scroll {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.accomplishments_item:nth-child(1), .accomplishments_item:nth-child(2) {
  position: relative;
}
.accomplishments_item:nth-child(1)::after, .accomplishments_item:nth-child(2)::after {
  position: absolute;
  content: "";
  right: 0;
  height: 60%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

/*--------------------------------------------------------------------------------------------*/
.main_slider_conteiner {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main_slider_conteiner h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 94px;
  color: #161616;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(80%, 0px);
          transform: translate(80%, 0px);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.main_slider_conteiner h2.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_slider_conteiner p {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #161616;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translate(-60%, 0px);
          transform: translate(-60%, 0px);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.main_slider_conteiner p.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_slider_conteiner .main_slider {
  margin-top: 90px;
  min-width: 0;
}

.slide_sub_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide_sub_image img {
  width: 269px;
  height: 269px;
}
.slide_sub_image .slide_info p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 25.1003px;
  line-height: 32px;
  color: #000000;
}
.slide_sub_image .slide_info span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #888887;
}
.slide_sub_image a {
  display: block;
  margin-top: 15px;
  padding: 20px 58px;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  color: #ffffff;
  background-color: #b58269;
}
.slide_sub_image a:hover {
  background-color: rgba(181, 130, 105, 0.9);
}

.image_slider .swiper-button-next:after,
.image_slider .swiper-button-prev:after {
  color: black;
}

/*--------------------------------------------------------------------------------------------*/
.main_commited_block_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 90px;
  background: url(/img/commited_back.png) no-repeat;
  background-blend-mode: hard-light;
  background-size: cover;
  width: 100%;
  height: 900px;
}
.main_commited_block_background::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main_commited_block_conteiner {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_commited_block_conteiner h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 7px;
  color: #f5f3ed;
  -webkit-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.main_commited_block_conteiner h2.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_commited_block_conteiner p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 112px;
  text-align: center;
  text-transform: capitalize;
  color: #f5f3ed;
  -webkit-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.main_commited_block_conteiner p.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_commited_block_conteiner p span {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  color: #f5f3ed;
}

/*--------------------------------------------------------------------------------------------*/
.main_furniture_slider_conteiner {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.main_furniture_slider_conteiner .furniture_slider_info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.main_furniture_slider_conteiner .furniture_slider_info h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 156.84%;
  color: #161616;
  -webkit-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.main_furniture_slider_conteiner .furniture_slider_info h2.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_furniture_slider_conteiner .furniture_slider_info p {
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  /* or 172% */
  color: #000000;
  -webkit-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.main_furniture_slider_conteiner .furniture_slider_info p.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_furniture_slider_conteiner .furniture_slider_info .furniture_slider_info_stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0.3s;
  transition: all 0.6s ease 0.3s;
}
.main_furniture_slider_conteiner .furniture_slider_info .furniture_slider_info_stars.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_furniture_slider_conteiner .furniture_slider_info .furniture_slider_info_stars span {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.265em;
  text-transform: uppercase;
  color: #000000;
}
.main_furniture_slider_conteiner .furniture_slider {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 0;
}
.main_furniture_slider_conteiner .furniture_slider .image_furniture_slider {
  height: 950px;
}
.main_furniture_slider_conteiner .furniture_slider .slide_sub_image img {
  width: 705px;
  height: 836px;
}
.main_furniture_slider_conteiner .furniture_slider .swiper-pagination {
  z-index: 1;
  bottom: 25px;
  font-size: 20px;
  font-family: "HKGrotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 156.84%;
  color: #000000;
}
.main_furniture_slider_conteiner .swiper_buttons {
  position: absolute;
  bottom: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 80px;
}
.main_furniture_slider_conteiner .swiper_buttons .swiper-button-next,
.main_furniture_slider_conteiner .swiper_buttons .swiper-button-prev {
  position: static;
}
.main_furniture_slider_conteiner .swiper_buttons .swiper-button-next::after,
.main_furniture_slider_conteiner .swiper_buttons .swiper-button-prev::after {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

/*--------------------------------------------------------------------------------------------*/
.main_get_inspired_block_conteiner {
  margin-top: 90px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_items a {
  position: absolute;
  top: 45%;
  left: 3%;
  padding: 25px 60px;
  border: 4px solid #ffffff;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.3));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0px 100%;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_items a:hover {
  background-size: 100% 100%;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_items .main_get_inspired_block_item img {
  max-width: 100%;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: translate(-60%, 0px);
          transform: translate(-60%, 0px);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0.3s;
  transition: all 0.6s ease 0.3s;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_title.scroll {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.main_get_inspired_block_conteiner .main_get_inspired_block_title h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 82px;
  color: #545454;
  justify-self: flex-start;
}

/*--------------------------------------------------------------------------------------------*/
.scroll_to_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #888887;
  position: fixed;
  right: 30px;
  bottom: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}
.scroll_to_top img {
  max-width: 45%;
}
.scroll_to_top.visible {
  opacity: 1;
}
.scroll_to_top:hover {
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  background-color: rgba(136, 136, 135, 0.2);
}

/*--------------------------------------------------------------------------------------------*/
@media (max-width: 1626px) {
  .main_get_inspired_block_conteiner .main_get_inspired_block_items a {
    padding: 15px 35px;
  }
}
@media (max-width: 1330px) {
  .main_get_inspired_block_conteiner .main_get_inspired_block_items a {
    padding: 15px 15px;
    left: 1.5%;
  }
}
@media (max-width: 983px) {
  .collection_first_block,
.collection_second_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .collection_item img {
    width: 100%;
  }

  .main_accomplishments_block_conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
  }

  .accomplishments_item:nth-child(1)::after, .accomplishments_item:nth-child(2)::after {
    content: "";
    right: 20%;
    bottom: 0;
    height: 1px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .main_start_block_conteiner .main_start_block_info {
    margin-top: 40px;
  }

  .main_commited_block_conteiner h2 {
    font-size: 25px;
    text-align: center;
  }
  .main_commited_block_conteiner p {
    font-size: 50px;
  }
  .main_commited_block_conteiner p span {
    font-size: 60px;
  }

  .main_furniture_slider_conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main_get_inspired_block_conteiner .main_get_inspired_block_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_get_inspired_block_conteiner .main_get_inspired_block_items a {
    top: 10%;
    left: 10%;
    width: 80%;
    text-align: center;
  }
  .main_get_inspired_block_conteiner .main_get_inspired_block_items .main_get_inspired_block_item img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 110px;
  }

  .main_start_block_conteiner .main_start_block_info h2 {
    max-width: 100%;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 82px;
    text-align: center;
    color: #ffffff;
  }
  .main_start_block_conteiner .main_start_block_info p {
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .main_start_block_conteiner .main_start_block_info a {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 20px 50px;
    font-size: 18px;
  }

  .main_commited_block_conteiner h2 {
    font-size: 20px;
  }
  .main_commited_block_conteiner p {
    font-size: 40px;
    line-height: 90px;
  }
  .main_commited_block_conteiner p span {
    font-size: 50px;
    line-height: 90px;
  }
}
@media (max-width: 500px) {
  .collection_item img {
    width: 100%;
    height: 330px;
  }

  .main_commited_block_conteiner p {
    font-size: 30px;
    line-height: 70px;
  }
  .main_commited_block_conteiner p span {
    font-size: 40px;
    line-height: 70px;
  }

  .main_furniture_slider_conteiner .furniture_slider_info {
    padding: 0 15px;
  }
  .main_furniture_slider_conteiner .furniture_slider_info h2 {
    text-align: center;
    font-size: 65px;
    line-height: 120%;
  }
  .main_furniture_slider_conteiner .furniture_slider_info p {
    padding: 0 15px;
    font-size: 20px;
  }

  .furniture_slider_info_stars img {
    width: 150px;
  }
  .furniture_slider_info_stars span {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .main_start_block_conteiner .main_start_block_info h2 {
    font-size: 40px;
  }
  .main_start_block_conteiner .main_start_block_info p {
    font-size: 20px;
  }

  .accomplishments_item:nth-child(1)::after, .accomplishments_item:nth-child(2)::after {
    content: "";
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .collection_item a {
    padding: 25px 0;
  }

  .main_get_inspired_block_conteiner .main_get_inspired_block_title h2 {
    text-align: center;
  }
}
@media (max-width: 361px) {
  .main_start_block_conteiner .main_start_block_info h2 {
    font-size: 34px;
  }
  .main_start_block_conteiner .main_start_block_info p {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .main_commited_block_conteiner p {
    font-size: 25px;
    line-height: 70px;
  }
  .main_commited_block_conteiner p span {
    font-size: 25px;
    line-height: 70px;
  }

  .image_slider .swiper-button-next,
.image_slider .swiper-button-prev {
    display: none;
  }

  .main_collection_block_conteiner h2 {
    font-size: 65px;
  }
  .main_collection_block_conteiner p {
    font-size: 22px;
  }

  .main_slider_conteiner h2 {
    font-size: 65px;
  }
  .main_slider_conteiner p {
    font-size: 22px;
  }

  .main_furniture_slider_conteiner .furniture_slider_info h2 {
    font-size: 55px;
  }
  .main_furniture_slider_conteiner .furniture_slider_info p {
    font-size: 22px;
  }

  .main_get_inspired_block_conteiner .main_get_inspired_block_title h2 {
    font-size: 62px;
  }
}