@font-face {
  font-family: "HKGrotesk";
  src: url("/fonts/HKGrotesk-Regular.otf");
}

//HK REGULAR font
$HkRegular: "HKGrotesk";
$Green: #3a5041;
$Transition: all 0.6s ease 0s;

.header_back {
  width: 100vw;
  height: 120px;
  position: fixed;
  background-color: #ffff;
  z-index: 99;
}

.header_body_conteiner {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  height: 120px;
  align-items: center;
  z-index: 99;

  .first_nav_menu,
  .second_nav_menu {
    flex: 0 1 33.33%;
    display: flex;
    justify-content: center;
    gap: 43px;
  }
  .nav_menu_item {
    font-family: $HkRegular;
    font-size: 20px;
    line-height: 33px;
    color: #bebfbe;
    &:hover {
      color: #00264b;
    }
  }
}

.header_burger {
  position: relative;
  width: 40px;
  height: 30px;
  display: none;
  span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    top: 48%;
    transition: $Transition;
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #070033;
    transition: $Transition;
  }
  &::after {
    bottom: 0;
  }
}

.header_logo img {
  max-width: 100%;
  max-height: 100%;
}

.header_icons {
  display: flex;
  gap: 15px;
  position: relative;
  .cart {
    order: 2;
    &:hover {
      cursor: pointer;
    }
  }
  .cart_span_qty {
    position: absolute;
    top: 0;
    left: 100%;
    width: 15px;
    height: 15px;
    color: #ffff;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      background-color: darkorange;
    }
  }
  .search {
    order: 1;
    cursor: pointer;
  }
}

.cart_body {
  position: absolute;
  border: 1px solid gray;
  background-color: #bebfbe;
  top: 50px;
  right: 0;
  padding: 15px;
  width: 300px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .cart_list {
    overflow: auto;
    max-height: 200px;
    &_body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 0px 0px 10px;
      font-family: $HkRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
    }
    &_name {
      color: inherit;
    }
    &_qty {
    }
    &_delete {
      color: red;
      background-color: rgba($color: #ffff, $alpha: 0);
      text-decoration: underline;
    }
    &_item {
      display: flex;
      align-items: flex-start;
      img {
        flex: 0 0 110px;
        height: 70px;
        overflow: hidden;
      }
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
    }
    .empty_cart_span {
      &.empty {
        display: none;
      }
    }
  }
}

.search_form {
  position: relative;
  .search_input {
    margin-right: 10px;
    z-index: 99;
    border: 1px solid gray;
    position: absolute;
    height: 25px;
    width: 0;
    opacity: 0;
    right: -100%;
    top: 13%;
    border: none;
    border-bottom: 1px solid grey;
    transition: all 0.3s ease 0s;
    &.open {
      width: 400px;
      opacity: 1;
    }
  }
}

._flyImg {
  opacity: 1;
  z-index: 100;
  position: fixed;
  transition: all 1s ease 0s;
}

@media (max-width: 1745.98px) {
  .header_body_conteiner {
    .first_nav_menu,
    .second_nav_menu {
      gap: 23px;
    }
  }
}

@media (max-width: 1284px) {
  .search_form {
    .search_input {
      &.open {
        width: 350px;
      }
    }
  }
}
@media (max-width: 1626.98px) {
  [class*="_conteiner"] {
    max-width: 1400px;
  }

  .header_logo {
    height: 70px;
  }

  .header_body_conteiner {
    .first_nav_menu,
    .second_nav_menu {
      display: flex;
      gap: 23px;
    }
    .nav_menu_item {
      font-size: 14px;
    }
  }
}

@media (max-width: 1218.98px) {
  .header_body_conteiner {
    padding-right: 30px;
    &::before {
      content: "";
      position: absolute;
      visibility: hidden;
      top: 130px;
      left: -220%;
      width: 200vw;
      height: 200vh;
      background-color: $Green;
      transition: $Transition;
    }

    .first_nav_menu,
    .second_nav_menu {
      position: fixed;
      top: 140px;
      left: -100%;
      flex-direction: column;
      transition: $Transition;
      .nav_menu_item {
        font-size: 24px;
      }
    }
  }

  .header_body_conteiner.open {
    &::before {
      left: -15px;
      transition: $Transition;
      visibility: visible;
    }

    .first_nav_menu.open {
      left: 10px;
      transition: $Transition;
    }
    .second_nav_menu.open {
      top: 420px;
      left: 10px;
      transition: $Transition;
    }
  }

  .header_burger {
    display: block;
  }

  .header_burger.open {
    span {
      transform: scale(0);
      transition: $Transition;
    }
    &::after {
      bottom: 10px;
      transform: rotate(45deg);
      transition: $Transition;
    }

    &::before {
      transform: rotate(-45deg);
      top: 17px;
      transition: $Transition;
    }
  }

  .search_form {
    .search_input {
      &.open {
        width: 250px;
      }
    }
  }

  .header_logo {
    z-index: 2;
    img {
      display: block;
      margin-left: 20px;
    }
  }
  .header_icons {
    img {
      width: 38px;
      height: 38px;
    }
    img:nth-child(2) {
      display: none;
    }
  }
}

@media (max-width: 1180px) {
  .search_form {
    .search_input {
      &.open {
        width: 220px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .search_form {
    .search_input {
      &.open {
        width: 400px;
      }
    }
  }
}

@media (max-width: 768px) {
  [class*="_conteiner"] {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header_body_conteiner,
  .header_back {
    height: 110px;
  }
  .header_icons {
    .cart_span_qty {
      left: 95%;
    }
  }
  .header_body_conteiner {
    &::before {
      top: 110px;
    }
  }
}

@media (max-width: 700px) {
  .header_icons {
    .cart_span_qty {
      left: 85%;
      top: -5px;
    }
  }
}

@media (max-width: 600px) {
  .search_form {
    .search_input {
      &.open {
        width: 350px;
      }
    }
  }
}

@media (max-width: 535px) {
  .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_icons {
    gap: 0;
    img {
      margin-right: 20px;
      width: 25px;
      height: 25px;
    }

    .cart_span_qty {
      left: 75%;
      top: -5px;
    }
  }

  .header_burger {
    span {
      top: 55%;
    }
    &::before {
      top: 9px;
    }
    &::after {
      bottom: 2px;
    }
  }

  .header_burger span,
  .header_burger::after,
  .header_burger::before {
    width: 135%;
  }

  .header_logo {
    img {
      max-width: 110%;
    }
  }

  .search_form {
    .search_input {
      &.open {
        width: 200px;
      }
    }
  }
}

@media (max-width: 369px) {
  .header_burger {
    span {
      top: 55%;
      width: 150%;
    }
    &::before {
      top: 9px;
      width: 150%;
    }
    &::after {
      bottom: 2px;
      width: 150%;
    }
  }
  .header_logo {
    img {
      max-width: 120%;
    }
  }
  .title_block {
    .title_block_image {
      gap: 0;
    }
  }

  .search_form {
    .search_input {
      &.open {
        width: 150px;
      }
    }
  }
}

@media (max-width: 330px) {
  .header_logo {
    img {
      max-width: 150%;
    }
  }
}

@media (max-width: 309px) {
  .header_burger {
    span {
      width: 250%;
    }
    &::before {
      width: 250%;
    }
    &::after {
      width: 250%;
    }
  }
  .header_logo {
    img {
      max-width: 140%;
    }
  }
  .header_icons {
    gap: 0;
  }
}
