@import "nullstyle.scss";
@font-face {
  font-family: "HKGrotesk";
  src: url("/fonts/HKGrotesk-Regular.otf");
}
$HkRegular: "HKGrotesk";

$size: 120px;

body {
  overflow-x: hidden;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="_conteiner"] {
  max-width: 1754px;
  margin: 0 auto;
  padding: 0px 15px;
}

.main {
  flex: 1 1 auto;
  margin-top: 130px;
  p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------------------------------------*/

.main_start_block_background {
  width: 100%;
  height: 984px;
  background: url(/img/main_back.png) no-repeat;
  background-size: cover;
}

.main_start_block_conteiner {
  display: flex;
  justify-content: flex-start;
  .main_start_block_info {
    margin-top: 220px;

    h2 {
      max-width: 60%;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 75px;
      line-height: 94px;
      color: #ffffff;
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.5s ease 0s;
      &.scroll {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
    p {
      max-width: 45%;
      font-family: $HkRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 42px;
      color: #ffffff;
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.4s ease 0s;
      &.scroll {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 0.4s ease 0.3s;
      }
    }
    a {
      display: inline-block;
      margin-top: 15px;
      padding: 30px 50px;
      background-color: #b58269;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 0.265em;
      text-transform: uppercase;
      color: #ffffff;
      transform: translate(0px, 120%);
      opacity: 0;
      transition: background-color 0.1s ease 0s;
      transition: all 0.4s ease 0s;
      &.scroll {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 0.5s ease 0.4s;
      }
      &:hover {
        background-color: rgba($color: #b58269, $alpha: 0.7);
        transition: background-color 0.3s ease 0s;
      }
    }
  }
}

/*--------------------------------------------------------------------------------------------*/

.main_collection_block_conteiner {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  h2 {
    text-align: center;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 94px;
    color: #161616;
    transform: translate(0px, 80%);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  p {
    text-align: center;
    font-family: $HkRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #161616;
    transform: translate(0px, 60%);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}

.collection_first_block {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.collection_second_block {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.collection_item {
  position: relative;
  img {
    max-width: 100%;
  }
  a {
    padding: 33px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.265em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #636a6a;
    background-image: linear-gradient(rgba(#fff, $alpha: 0.8));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0px 100%;
    transition: background-size 0.4s;
    transform: translate(0px, 10%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }

    &:hover {
      background-size: 100% 100%;
      color: #000000;
    }
  }
}

/*--------------------------------------------------------------------------------------------*/

.main_accomplishments_block_conteiner {
  margin-top: 90px;
  width: 100%;
  height: 397px;
  background-color: #3a5041;
  display: flex;
  justify-content: space-between;
}

.accomplishments_item {
  padding-top: 90px;
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform: translate(0px, 40%);
  opacity: 0;
  transition: all 0.6s ease 0.1s;
  &.scroll {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  img {
    max-width: 100%;
  }
  h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.265em;
    text-transform: uppercase;
    color: #ffffff;
  }

  p {
    font-family: $HkRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
  }
  &:nth-child(1),
  &:nth-child(2) {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      right: 0;
      height: 60%;
      width: 1px;
      background-color: rgba($color: #ffff, $alpha: 0.3);
    }
  }
}

/*--------------------------------------------------------------------------------------------*/

.main_slider_conteiner {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 94px;
    color: #161616;
    align-self: center;
    transform: translate(0px, 80%);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  p {
    font-family: $HkRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #161616;
    align-self: center;
    transform: translate(0px, 60%);
    opacity: 0;
    transition: all 0.6s ease 0.3s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  .main_slider {
    margin-top: 90px;
    min-width: 0;
  }
}

.slide_sub_image {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 269px;
    height: 269px;
  }
  .slide_info {
    p {
      align-self: flex-start;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 25.1003px;
      line-height: 32px;
      color: #000000;
    }
    span {
      align-self: flex-start;
      font-family: $HkRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 33px;
      color: #888887;
    }
  }
  a {
    display: block;
    margin-top: 15px;
    padding: 20px 58px;
    font-family: $HkRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
    background-color: #b58269;
    &:hover {
      background-color: rgba($color: #b58269, $alpha: 0.9);
    }
  }
}

.image_slider {
  .swiper-button-next,
  .swiper-button-prev {
    &:after {
      color: black;
    }
  }
}

/*--------------------------------------------------------------------------------------------*/

.main_commited_block_background {
  display: flex;

  position: relative;
  margin-top: 90px;
  background: url(/img/commited_back.png) no-repeat;
  background-blend-mode: hard-light;
  background-size: cover;
  width: 100%;
  height: 900px;
  &::before {
    position: absolute;
    content: "";
    background-color: rgba($color: #0000, $alpha: 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.main_commited_block_conteiner {
  align-self: center;
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 7px;
    color: #f5f3ed;
    transform: translate(0px, 40%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 112px;
    text-align: center;
    text-transform: capitalize;
    color: #f5f3ed;
    transform: translate(0px, 40%);
    opacity: 0;
    transition: all 0.6s ease 0s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    span {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 600;
      font-size: 75px;
      line-height: 112px;
      color: #f5f3ed;
    }
  }
}

/*--------------------------------------------------------------------------------------------*/

.main_furniture_slider_conteiner {
  margin-top: 90px;
  display: flex;
  gap: 30px;

  .furniture_slider_info {
    align-self: center;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h2 {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 75px;
      line-height: 156.84%;
      color: #161616;
      transform: translate(0px, 40%);
      opacity: 0;
      transition: all 0.6s ease 0s;
      &.scroll {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }

    p {
      font-family: $HkRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 43px;
      /* or 172% */

      color: #000000;
      transform: translate(0px, 40%);
      opacity: 0;
      transition: all 0.6s ease 0s;
      &.scroll {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }

    .furniture_slider_info_stars {
      display: flex;
      gap: 10px;
      align-items: center;
      transform: translate(0px, 40%);
      opacity: 0;
      transition: all 0.6s ease 0.3s;
      &.scroll {
        transform: translate(0px, 0px);
        opacity: 1;
      }
      span {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.265em;
        text-transform: uppercase;

        color: #000000;
      }
    }
  }

  .furniture_slider {
    position: relative;
    flex: 1 1 50%;
    min-width: 0;
    .image_furniture_slider {
      height: 950px;
    }
    .slide_sub_image {
      img {
        width: 705px;
        height: 836px;
      }
    }
    .swiper-pagination {
      z-index: 1;
      bottom: 25px;
      font-size: 20px;
      font-family: $HkRegular;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 156.84%;
      color: #000000;
    }
  }

  .swiper_buttons {
    position: absolute;
    bottom: 25px;
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 80px;
    .swiper-button-next,
    .swiper-button-prev {
      position: static;
      &::after {
        color: black;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

/*--------------------------------------------------------------------------------------------*/
.main_get_inspired_block_conteiner {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .main_get_inspired_block_items {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: relative;
    a {
      position: absolute;
      top: 45%;
      left: 3%;
      padding: 25px 60px;
      border: 4px solid #ffffff;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      text-transform: uppercase;
      color: #ffffff;

      text-decoration: none;
      background-image: linear-gradient(rgba(#ffff, $alpha: 0.3));
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0px 100%;
      transition: background-size 0.3s;

      &:hover {
        background-size: 100% 100%;
      }
    }

    .main_get_inspired_block_item {
      img {
        max-width: 100%;
      }
    }
  }
  .main_get_inspired_block_title {
    flex: 1 1 auto;
    align-self: flex-start;
    transform: translate(0px, 40%);
    opacity: 0;
    transition: all 0.6s ease 0.3s;
    &.scroll {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    h2 {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 75px;
      line-height: 82px;
      color: #545454;
      justify-self: flex-start;
    }
  }
}

/*--------------------------------------------------------------------------------------------*/

@media (max-width: 983px) {
  .collection_first_block,
  .collection_second_block {
    flex-direction: column;
  }

  .collection_item {
    img {
      width: 100%;
    }
  }

  .main_accomplishments_block_conteiner {
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
  }

  .accomplishments_item {
    &:nth-child(1),
    &:nth-child(2) {
      &::after {
        content: "";
        right: 20%;
        bottom: 0;
        height: 1px;
        width: 60%;
        background-color: rgba($color: #ffff, $alpha: 0.3);
      }
    }
  }

  .main_start_block_conteiner {
    .main_start_block_info {
      margin-top: 40px;
    }
  }

  .main_commited_block_conteiner {
    h2 {
      font-size: 25px;
      text-align: center;
    }
    p {
      font-size: 50px;
      span {
        font-size: 60px;
      }
    }
  }

  .main_furniture_slider_conteiner {
    flex-direction: column;
  }

  .main_get_inspired_block_conteiner {
    .main_get_inspired_block_items {
      flex-direction: column;
      a {
        top: 10%;
        left: 10%;
        width: 80%;
        text-align: center;
      }
      .main_get_inspired_block_item {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 110px;
  }
  .main_start_block_conteiner {
    .main_start_block_info {
      h2 {
        max-width: 100%;
        font-family: "Outfit";
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 82px;
        text-align: center;
        color: #ffffff;
      }
      p {
        max-width: 100%;
        margin-top: 50px;
        text-align: center;
      }
      a {
        margin-top: 50px;
        width: 100%;
        text-align: center;
        padding: 20px 50px;
        font-size: 18px;
      }
    }
  }
  .main_commited_block_conteiner {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 40px;
      line-height: 90px;
      span {
        font-size: 50px;
        line-height: 90px;
      }
    }
  }
}

@media (max-width: 500px) {
  .collection_item {
    img {
      width: 100%;
      height: 330px;
    }
  }
  .main_commited_block_conteiner {
    p {
      font-size: 30px;
      line-height: 70px;
      span {
        font-size: 40px;
        line-height: 70px;
      }
    }
  }

  .main_furniture_slider_conteiner {
    .furniture_slider_info {
      padding: 0 15px;
      h2 {
        text-align: center;
        font-size: 65px;
        line-height: 120%;
      }
      p {
        padding: 0 15px;
        font-size: 20px;
      }
    }
  }

  .furniture_slider_info_stars {
    img {
      width: 150px;
    }
    span {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .main_start_block_conteiner {
    .main_start_block_info {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  .accomplishments_item {
    &:nth-child(1),
    &:nth-child(2) {
      &::after {
        content: "";
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: rgba($color: #ffff, $alpha: 0.3);
      }
    }
  }

  .collection_item {
    a {
      padding: 25px 0;
    }
  }

  .main_get_inspired_block_conteiner {
    .main_get_inspired_block_title {
      h2 {
        text-align: center;
      }
    }
  }
}

@media (max-width: 361px) {
  .main_start_block_conteiner {
    .main_start_block_info {
      h2 {
        font-size: 34px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 350px) {
  .main_commited_block_conteiner {
    p {
      font-size: 25px;
      line-height: 70px;
      span {
        font-size: 25px;
        line-height: 70px;
      }
    }
  }

  .image_slider {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}
