@font-face {
  font-family: "icons";
  src: url("/fonts/icon_font/fonts/icons.ttf?xzsker") format("truetype"),
    url("/fonts/icon_font/fonts/icons.woff?xzsker") format("woff"),
    url("/fonts/icon_font/fonts/icons.svg?xzsker#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-icon_mail:before {
  content: "\e900";
  color: #fff;
}
._icon-icon_phone:before {
  content: "\e901";
}
